{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="icon" type="image/png" href="http://127.0.0.1:6001/static/images/logo.png">
        <meta name="description" content="Simulador de créditos Cootratiempo. Conoce las líneas y tipos de crédito disponibles. Simula tu monto, genera tu certificado y calcula tus cuotas.">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://simuladorcreditocootratiempo.pythonanywhere.com/">
        <meta property="og:title" content="Simulador de Créditos Cootratiempo">
        <meta property="og:description" content="Simula tu monto, genera tu certificado y calcula tus cuotas.">
        <meta property="og:image" content="https://simuladorcreditocootratiempo.pythonanywhere.com/static/images/logo_cootratiempo.jpg">
        <meta property="og:url" content="URL_CANONICA_DE_TU_PAGINA">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}{% endblock styles %}
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Source+Sans+3:ital,wght@0,200;0,300;0,700;0,900;1,200&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
                <picture>
                    <img  src="{% static 'images/logo_cootratiempo.jpg' %}" alt="">
                </picture>
                <h1 class="title"><a class="simulador-link" href="{% url 'simulador'%}">Simulador Crédito</a></h1>
        </header>
        <div class="mix">
            {% if request.user.is_authenticated %}
                <nav class="links">
                    <ul>
                        <li><a class="link" href="{% url 'simulador'%}">Simulador</a></li>
                        <li><a class="link" href="{% url 'deudaaporte'%}">Deuda / Aporte</a></li>
                        <li><a class="link" href="{% url 'extracupos' %}">Extracupo</a></li>
                        <li><a class="link" href="{% url 'salario' %}">Salario</a></li>
                        <li><a class="link" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>
        


        {% block content %}{% endblock content %}

        <footer>
            <div>
                <img  src="{% static 'images/logo_cootratiempo.jpg' %}" alt="">
            </div>
            <div>
                <h1>Cootratiempo</h1>
                <p class="copy">© Cooperativa Cootratiempo 2024</p>
            </div>
            <div class="info-footer">
                <p>Calle 35 # 14 - 12 Teusaquillo</p>
                <p>Tel: 601 7454745</p>
                <p>Bogotá - Colombia</p>
            </div>
        </footer>

        <script src="{% static 'js/script.js' %}" async defer></script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</html>