{% extends "base.html" %}

{% load static %}


{% block styles %}
    <link href="{% static "css/contacto.css" %}" rel="stylesheet">
    <link href="{% static "css/simulador.css" %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <div class="contact" id="contact">
        <div class="contact-form">
            <h1 class="name">Hola, {{datos.datas.data.name}} {{datos.datas.data.lastname}}!</h1>
            <div class="line"></div>
            <h2 class="subtitle">En Cootratiempo queremos que tengas un servicio personalizado.</h2>
            <p>Es por eso que uno de nuestros asesores se comunicara contigo.</p>
            <p>Por favor ingresa tu numero de celular y correo para ponernos en contacto.
            <form method="POST" class="form">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <button class="button"  type="submit">
                    Enviar
                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                      <path
                        clip-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
            </form>
        </div>
    </div>
{% endblock %}