<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Contacto Simulación Crédito</title>
</head>
<body style="width: 300px; height: 500px; background-color: #fff; padding: 20px;">
    <h1 style="width: 100%; background-color: #3255a0; height: 80px; text-align: center; color: white; padding: 10px;">
        Solicitud de Simulación de Crédito
    </h1>
    <h4><span style="color: #3255a0; font-weight: 700;">Nombre Asociado:</span> {{name}}</h4>
    <h4><span style="color: #3255a0; font-weight: 700;">Teléfono:</span> {{phone}}</h4>
    <h4><span style="color: #3255a0; font-weight: 700;">Correo Electrónico:</span> {{email}}</h4>
    <h4><span style="color: #3255a0; font-weight: 700;">Línea de Crédito:</span> {{line}}</h4>
</body>
</html> 

