{% load static %}

{% block styles %}
    <link href="{% static "css/personal.css" %}" rel="stylesheet">
{% endblock styles %}

<div class="dates">

    <h3 class="title-datas">1. Ingresa tus datos personales y finacieros</h3>
    <p>
        Ingresa tus datos personales, junto con tus datos financieros, por favor
        ingresa los datos mas reales, ya que la simulacion dependerea ellos, y
        estos seran validados a la hora de solicitar el credito.
    </p>

    <div class="personal-datas">
        <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">N</span>
              <span class="label-char" style="--index: 1">o</span>
              <span class="label-char" style="--index: 2">m</span>
              <span class="label-char" style="--index: 3">b</span>
              <span class="label-char" style="--index: 4">r</span>
              <span class="label-char" style="--index: 5">e</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">A</span>
              <span class="label-char" style="--index: 1">p</span>
              <span class="label-char" style="--index: 2">e</span>
              <span class="label-char" style="--index: 3">l</span>
              <span class="label-char" style="--index: 4">l</span>
              <span class="label-char" style="--index: 5">d</span>
              <span class="label-char" style="--index: 6">o</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">D</span>
              <span class="label-char" style="--index: 1">o</span>
              <span class="label-char" style="--index: 2">c</span>
              <span class="label-char" style="--index: 3">u</span>
              <span class="label-char" style="--index: 4">m</span>
              <span class="label-char" style="--index: 5">e</span>
              <span class="label-char" style="--index: 6">n</span>
              <span class="label-char" style="--index: 7">t</span>
              <span class="label-char" style="--index: 8">o</span>
            </label>
          </div>
          
        <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">S</span>
              <span class="label-char" style="--index: 1">a</span>
              <span class="label-char" style="--index: 2">l</span>
              <span class="label-char" style="--index: 3">a</span>
              <span class="label-char" style="--index: 4">r</span>
              <span class="label-char" style="--index: 5">i</span>
              <span class="label-char" style="--index: 6">o</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">O</span>
              <span class="label-char" style="--index: 1">t</span>
              <span class="label-char" style="--index: 2">r</span>
              <span class="label-char" style="--index: 3">o</span>
              <span class="label-char" style="--index: 4">s</span>
              <span class="label-char" style="--index: 6">_</span>
              <span class="label-char" style="--index: 7">I</span>
              <span class="label-char" style="--index: 8">n</span>
              <span class="label-char" style="--index: 9">g</span>
              <span class="label-char" style="--index: 10">r</span>
              <span class="label-char" style="--index: 11">e</span>
              <span class="label-char" style="--index: 12">s</span>
              <span class="label-char" style="--index: 13">o</span>
              <span class="label-char" style="--index: 14">s</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">D</span>
              <span class="label-char" style="--index: 1">e</span>
              <span class="label-char" style="--index: 2">b</span>
              <span class="label-char" style="--index: 3">i</span>
              <span class="label-char" style="--index: 4">t</span>
              <span class="label-char" style="--index: 5">o</span>
              <span class="label-char" style="--index: 6">s</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">A</span>
              <span class="label-char" style="--index: 1">ñ</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">s</span>
              <span class="label-char" style="--index: 4">_</span>
              <span class="label-char" style="--index: 5">A</span>
              <span class="label-char" style="--index: 6">f</span>
              <span class="label-char" style="--index: 7">i</span>
              <span class="label-char" style="--index: 8">l</span>
              <span class="label-char" style="--index: 9">i</span>
              <span class="label-char" style="--index: 10">a</span>
              <span class="label-char" style="--index: 11">c</span>
              <span class="label-char" style="--index: 12">i</span>
              <span class="label-char" style="--index: 13">ó</span>
              <span class="label-char" style="--index: 14">n</span>
            </label>
          </div>

          <div class="wave-group">
            <input required id="name" type="text" class="input">
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">S</span>
              <span class="label-char" style="--index: 1">c</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">r</span>
              <span class="label-char" style="--index: 4">e</span>
            </label>
          </div>
    </div>
</div>
