{% load static %}



{% block styles %}
    <link href="{% static "css/personal.css" %}" rel="stylesheet">
{% endblock styles %}

<div class="dates">
    {% csrf_token %}

    <h3 class="title-datas">1. Ingresa tus datos personales y finacieros</h3>
    <p>
        Ingresa tus datos personales, junto con tus datos financieros, por favor
        ingresa los datos mas reales, ya que la simulacion dependerea ellos, y
        estos seran validados a la hora de solicitar el credito.
    </p>

    <div class="personal-datas" id="alert">
        <div class="wave-group">
            {% if form_data %}
                <input required id="name" type="text" class="input" name="name" value="{{ form_data.name}}">
            {% else %}
                <input required id="name" type="text" class="input" name="name">
            {% endif %}

          
            <span class="bar"></span>
            <label for="name" class="label">
              <span class="label-char" style="--index: 0">N</span>
              <span class="label-char" style="--index: 1">o</span>
              <span class="label-char" style="--index: 2">m</span>
              <span class="label-char" style="--index: 3">b</span>
              <span class="label-char" style="--index: 4">r</span>
              <span class="label-char" style="--index: 5">e</span>
            </label>
          </div>



          <div class="wave-group">
            {% if form_data %}
              <input required id="lastname" type="text" class="input" name="lastname" value="{{ form_data.lastname }}">
            {% else%}
              <input required id="lastname" type="text" class="input" name="lastname">
            {% endif %}
            <span class="bar"></span>
            <label for="lastname" class="label">
              <span class="label-char" style="--index: 0">A</span>
              <span class="label-char" style="--index: 1">p</span>
              <span class="label-char" style="--index: 2">e</span>
              <span class="label-char" style="--index: 3">l</span>
              <span class="label-char" style="--index: 4">l</span>
              <span class="label-char" style="--index: 5">i</span>
              <span class="label-char" style="--index: 6">d</span>
              <span class="label-char" style="--index: 7">o</span>
            </label>
          </div>

          <div class="wave-group">
            {% if form_data %}
              <input required id="document" type="number" class="input" name="document" value="{{form_data.document}}">
            {% else%}
              <input required id="document" type="number" class="input" name="document">
            {% endif %}
            <span class="bar"></span>
            <label for="document" class="label">
              <span class="label-char" style="--index: 0">D</span>
              <span class="label-char" style="--index: 1">o</span>
              <span class="label-char" style="--index: 2">c</span>
              <span class="label-char" style="--index: 3">u</span>
              <span class="label-char" style="--index: 4">m</span>
              <span class="label-char" style="--index: 5">e</span>
              <span class="label-char" style="--index: 6">n</span>
              <span class="label-char" style="--index: 7">t</span>
              <span class="label-char" style="--index: 8">o</span>
            </label>
          </div>
          
        <div class="wave-group">
            {% if form_data %}
              <input required id="salario" type="text" class="input" name="salario" oninput="handleChange('salario')" value="{{form_data.salario}}">
            {% else%}
              <input required id="salario" type="text" class="input" name="salario" oninput="handleChange('salario')">
            {% endif %}
            <span class="bar"></span>
            <label for="salario" class="label">
              <span class="label-char" style="--index: 0">S</span>
              <span class="label-char" style="--index: 1">a</span>
              <span class="label-char" style="--index: 2">l</span>
              <span class="label-char" style="--index: 3">a</span>
              <span class="label-char" style="--index: 4">r</span>
              <span class="label-char" style="--index: 5">i</span>
              <span class="label-char" style="--index: 6">o</span>
            </label>
          </div>

          <div class="wave-group">
            {% if form_data %}
              <input required id="others" type="text" class="input" name="others" oninput="handleChange('others')" value="{{form_data.others}}">
            {% else%}
              <input required id="others" type="text" class="input" name="others" oninput="handleChange('others')">
            {% endif %}
            <span class="bar"></span>
            <label for="others" class="label">
              <span class="label-char" style="--index: 0">O</span>
              <span class="label-char" style="--index: 1">t</span>
              <span class="label-char" style="--index: 2">r</span>
              <span class="label-char" style="--index: 3">o</span>
              <span class="label-char" style="--index: 4">s</span>
              <span class="label-char" style="--index: 6">&nbsp;</span>
              <span class="label-char" style="--index: 7">I</span>
              <span class="label-char" style="--index: 8">n</span>
              <span class="label-char" style="--index: 9">g</span>
              <span class="label-char" style="--index: 10">r</span>
              <span class="label-char" style="--index: 11">e</span>
              <span class="label-char" style="--index: 12">s</span>
              <span class="label-char" style="--index: 13">o</span>
              <span class="label-char" style="--index: 14">s</span>
            </label>
          </div>

          <div class="wave-group">
            {% if form_data %}
              <input required id="debit" type="text" class="input" name="debit" oninput="handleChange('debit')" value="{{form_data.debit}}">
            {% else%}
              <input required id="debit" type="text" class="input" name="debit" oninput="handleChange('debit')">
            {% endif %}
            <span class="bar"></span>
            <label for="debit" class="label">
              <span class="label-char" style="--index: 0">D</span>
              <span class="label-char" style="--index: 1">e</span>
              <span class="label-char" style="--index: 2">b</span>
              <span class="label-char" style="--index: 3">i</span>
              <span class="label-char" style="--index: 4">t</span>
              <span class="label-char" style="--index: 5">o</span>
              <span class="label-char" style="--index: 6">s</span>
            </label>
          </div>

          {% comment %} <div class="wave-group">
            {% if errors %}
              <input required id="years" type="number" class="input" name="years" value="{{form_data.years}}">
            {% else%}
              <input required id="years" type="number" class="input" name="years">
            {% endif %}
            <span class="bar"></span>
            <label for="years" class="label">
              <span class="label-char" style="--index: 0">A</span>
              <span class="label-char" style="--index: 1">ñ</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">s</span>
              <span class="label-char" style="--index: 4">&nbsp;</span>
              <span class="label-char" style="--index: 5">A</span>
              <span class="label-char" style="--index: 6">f</span>
              <span class="label-char" style="--index: 7">i</span>
              <span class="label-char" style="--index: 8">l</span>
              <span class="label-char" style="--index: 9">i</span>
              <span class="label-char" style="--index: 10">a</span>
              <span class="label-char" style="--index: 11">c</span>
              <span class="label-char" style="--index: 12">i</span>
              <span class="label-char" style="--index: 13">ó</span>
              <span class="label-char" style="--index: 14">n</span>
            </label>
          </div> {% endcomment %}

          {% comment %} <div class="wave-group">
            {% if errors %}
              <input required id="score" type="number" class="input" name="score" value="{{form_data.score}}">
            {% else%}
              <input required id="score" type="number" class="input" name="score">
            {% endif %}
            <span class="bar"></span>
            <label for="score" class="label">
              <span class="label-char" style="--index: 0">S</span>
              <span class="label-char" style="--index: 1">c</span>
              <span class="label-char" style="--index: 2">o</span>
              <span class="label-char" style="--index: 3">r</span>
              <span class="label-char" style="--index: 4">e</span>
            </label>
          </div> {% endcomment %}
    </div>
    {% if messages %}
      <div class="alert">
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
      </div>
    {% endif %}
</div>

<script>
  function handleChange(idName) {
      var inputElement = document.getElementById(idName);
      inputElement.value = inputElement.value.replace(/\D/g, ''); // Elimina caracteres no numéricos
      var inputValue = inputElement.value.replace('.', '').split("").reverse(); // Reversa el valor para facilitar la inserción de puntos
      var newValue = '';
      for (var i = 0; i < inputValue.length; i++) {
          if (i % 3 == 0 && i!= 0) { // Agrega un punto cada tres dígitos, excepto al inicio
              newValue += '.';
          }
          newValue += inputValue[i];
      }
      inputElement.value = newValue.split("").reverse().join(""); // Revierte el valor y lo establece en el input
  }

  {% comment %} window.addEventListener('load', function() {
    document.getElementById('alert').scrollIntoView({behavior: 'smooth'});
}); {% endcomment %}


</script>
