{% extends "simulador.html" %}

{% load static %}


{% block styles %}
    <link href="{% static "css/dialog.css" %}" rel="stylesheet">
{% endblock styles %}

{% block simulacion %}

    <div class="success" id="success">
        <a href="{% url 'simulador' %}" class="back-filter"></a> 
        <div class="content-success">
            <h3>Gracias por confiar en nosotros</h3>
            <p>Pronto nos contactaremos contigo</p>
            <a href="{% url 'simulador' %}" class="button"  type="submit">
                Nueva Simulacion
                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                  <path
                    clip-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </a>
        </div>

    </div>
{% endblock %}