{% load static %}

{% block styles %}
  <link href="{% static "css/credits.css" %}" rel="stylesheet">
{% endblock styles %}


<div id="flex-container" class="testimonials">
    <div id="top-zone">
      <ul class="list">
        
        <li class="item">
          <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
          <label class="label_testimonial-1" for="radio_testimonial-1">Créditos Deuda / Aporte</label>
          <div class="content-test content_testimonial-1">
            <h1>Créditos Deuda/Aporte</h1>
            <p>“The team really takes pride in their work. If I didn’t know any better I would think they actually worked for my company.”</p>
          </div>
        </li>
        
        <li class="item">
          <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
          <label class="label_testimonial-2" for="radio_testimonial-2">Créditos Extracupo</label>
          <div class="content-test content_testimonial-2">
            <h1>Créditos Extracupo</h1>
            <p>“Quite simply… the service offers prompt response time to my visitors and helps me to better know what type of project a potential customer wants.”</p>
          </div>
      </ul>
    </div>
    <div id="bottom-zone"></div>
  </div>

  <script>
    window.addEventListener('scroll', function() {
      const componente = document.getElementById('flex-container');
      const rect = componente.getBoundingClientRect();
      const isVisible = rect.top <= window.innerHeight && rect.bottom >= 0;
    
      if (isVisible) {
        componente.classList.add('visible');
      } else {
        componente.classList.remove('visible');
      }
    });    
  </script>