{% load static %}


{% block styles %}
    <link href="{% static "css/deuda.css" %}" rel="stylesheet">
{% endblock styles %}

    <h1 class="title-types">Créditos Extracupo</h1>
    <p class="complement">Tenemos diferentes tipos de creditos, selecciona la opciones que mas se ajuste a tu interes.</p>

    <div id="form-values" class="form-values">
        {% csrf_token %}
        <select id="typecredit2" name="typecredit2">
            <option value="">-- Seleccione Credito --</option>
            {% for type in extracupo %}
                <option value={{type.id}}>{{type.name}}</option>
            {% endfor %}
        </select>

        <div class="three">
            <h2 class="title-2">3. Ingresa el monto y plazo de tu credito.</h2>

            <div class="personal-datas">
                <div class="wave-group">
                    <input id="monto2" type="text" class="input" name="monto2" oninput="handleChange('monto2')">
                    <span class="bar"></span>
                    <label for="monto" class="label">
                        <span class="label-char" style="--index: 0">M</span>
                        <span class="label-char" style="--index: 1">o</span>
                        <span class="label-char" style="--index: 2">n</span>
                        <span class="label-char" style="--index: 3">t</span>
                        <span class="label-char" style="--index: 4">o</span>
                    </label>
                </div>
                <div class="wave-group">
                    <input id="cuotas2" type="number" class="input" name="cuotas2">
                    <span class="bar"></span>
                    <label for="cuotas" class="label">
                        <span class="label-char" style="--index: 0">C</span>
                        <span class="label-char" style="--index: 1">u</span>
                        <span class="label-char" style="--index: 2">o</span>
                        <span class="label-char" style="--index: 3">t</span>
                        <span class="label-char" style="--index: 4">a</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script>
        function handleChange(idName) {
            var inputElement = document.getElementById(idName);
            inputElement.value = inputElement.value.replace(/\D/g, ''); // Elimina caracteres no numéricos
            var inputValue = inputElement.value.replace('.', '').split("").reverse(); // Reversa el valor para facilitar la inserción de puntos
            var newValue = '';
            for (var i = 0; i < inputValue.length; i++) {
                if (i % 3 == 0 && i!= 0) { // Agrega un punto cada tres dígitos, excepto al inicio
                    newValue += '.';
                }
                newValue += inputValue[i];
            }
            inputElement.value = newValue.split("").reverse().join(""); // Revierte el valor y lo establece en el input
        }
      
      </script>
    