{% load static %}


{% block styles %}
    <link href="{% static "css/deuda.css" %}" rel="stylesheet">
{% endblock styles %}

    <h1 class="title-types">Lineas Extra Cupo</h1>
    <p class="complement">Para la linea Extra cupo, recuerde ingresar su tipo de afiliación y su score aproximado.</p>

    <div id="form-values" class="form-values">
        {% csrf_token %}

        <select id="typeperson" name="typeperson" class="typeperson">
            <option value="">-- Seleccione su tipo de afiliación --</option>
            <option value="Pensionado Libranza">Pensionado Libranza</option>
            <option value="Empleado Convenio">Empleado Convenio</option>
            <option value="Empleado o pensionado Ventanilla">Empleado o pensionado Ventanilla</option>
            <option value="Independiente">Independiente</option>
        </select>

        <select id="typecredit3" name="typecredit3">
            <option value="">-- Seleccione su linea de credito --</option>
            {% for type in extras %}
                <option value="{{type.name}}">{{type.name}}</option>
            {% endfor %}
        </select>

        <p id="text-complement" class="text-complement">Por favor ingrese los siguientes datos para poder realizar su solicitud.</p>

        <div id="more-datas" class="more-datas">
            <div>
                <p>Rango de Edad</p>
                <select id="moreYears" name="moreYears">
                    <option value="">-- Seleccione un Rango de Edad --</option>
                    <option value="Hasta 30">Hasta 30 años</option>
                    <option value="Mayor a 30 Menor a 50">Mayor a 30 años y Hasta 50 años</option>
                    <option value="Mayor a 50">Mayor a 50 años</option>
                </select>
            </div>
            
            <div>
                <p>Estado Civil</p>
                <select id="moreState" name="moreState">
                    <option value="">-- Selelccione su Estado Civil --</option>
                    <option value="Casado">Casado</option>
                    <option value="Soltero">Soltero</option>
                    <option value="Union Libre">Union Libre</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            
            <div>
                <p>Tipo de Vivienda</p>
                <select id="moreLive" name="moreLive">
                    <option value="">-- Seleccione su tipo de Vivienda --</option>
                    <option value="Familiar / Arriendo">Familiar / Arriendo</option>
                    <option value="Propia">Propia</option>
                </select>
            </div>
            
            <div>
                <p>Genero</p>
                <select id="moreGender" name="moreGender">
                    <option value="">-- Seleccione su genero --</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
            
            <div>
                <p>Nivel Academico</p>
                <select id="moreStudy" name="moreStudy">
                    <option value="">--Seleccione su Nivel Academico --</option>
                    <option value="Desconocido">Desconocido / Secundaria / Tecnica</option>
                    <option value="Universitario">Universitario / Masestria / Doctorado</option>
                </select>
            </div>
            
            <div>
                <p>Ingreso Mensual</p>
                <select id="moreIng" name="moreIng">
                    <option value="">-- Seleccione su Ingreso Mensual --</option>
                    <option value="Hasta 2 SMMLV">Hasta 2 SMMLV</option>
                    <option value="Mayor a 2 SMMLV">Mayor a 2 SMMLV</option>
                </select>
            </div>
            
            <div>
                <p>Antiguedad como Asociado</p>
                <select id="moreTime" name="moreTime">
                    <option value="">-- Seleccione su Antiguendad como asociado --</option>
                    <option value="Hasta 4 años">Hasta 4 años</option>
                    <option value="Mayor a 4 años">Mayor a 4 años</option>
                </select>
            </div>
        </div>
            
        <div class="three">
            <h2 class="title-2">3. Ingresa el monto, plazo de tu credito y score.</h2>
            
            <div class="personal-datas">
                <div class="wave-group">
                    <input id="monto3" type="text" class="input" name="monto3" oninput="handleChange('monto3')">
                    <span class="bar"></span>
                    <label for="monto" class="label">
                        <span class="label-char" style="--index: 0">M</span>
                        <span class="label-char" style="--index: 1">o</span>
                        <span class="label-char" style="--index: 2">n</span>
                        <span class="label-char" style="--index: 3">t</span>
                        <span class="label-char" style="--index: 4">o</span>
                    </label>
                </div>
                <div class="wave-group">
                    <input id="cuotas3" type="number" class="input" name="cuotas3">
                    <span class="bar"></span>
                    <label for="cuotas" class="label">
                        <span class="label-char" style="--index: 0">C</span>
                        <span class="label-char" style="--index: 1">u</span>
                        <span class="label-char" style="--index: 2">o</span>
                        <span class="label-char" style="--index: 3">t</span>
                        <span class="label-char" style="--index: 4">a</span>
                        <span class="label-char" style="--index: 5">s</span>
                    </label>
                </div>
                <div class="wave-group">
                    <input id="score" type="text" class="input" name="score">
                    <span class="bar"></span>
                    <label for="score" class="label">
                        <span class="label-char" style="--index: 0">S</span>
                        <span class="label-char" style="--index: 1">c</span>
                        <span class="label-char" style="--index: 2">o</span>
                        <span class="label-char" style="--index: 3">r</span>
                        <span class="label-char" style="--index: 4">e</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script>
        function handleChange(idName) {
            var inputElement = document.getElementById(idName);
            inputElement.value = inputElement.value.replace(/\D/g, ''); // Elimina caracteres no numéricos
            var inputValue = inputElement.value.replace('.', '').split("").reverse(); // Reversa el valor para facilitar la inserción de puntos
            var newValue = '';
            for (var i = 0; i < inputValue.length; i++) {
                if (i % 3 == 0 && i!= 0) { // Agrega un punto cada tres dígitos, excepto al inicio
                    newValue += '.';
                }
                newValue += inputValue[i];
            }
            inputElement.value = newValue.split("").reverse().join(""); // Revierte el valor y lo establece en el input
        }
      
        const typePerson = document.getElementById("typeperson")
        typePerson.addEventListener("change", () => {
            text = document.getElementById("text-complement")
            div = document.getElementById("more-datas")
            years = document.getElementById("moreYears")
            state = document.getElementById("moreState")
            live = document.getElementById("moreLive")
            gender = document.getElementById("moreGender")
            study = document.getElementById("moreStudy")
            ing = document.getElementById("moreIng")
            time = document.getElementById("moreTime")
            if (typePerson.value === "Empleado o pensionado Ventanilla" || typePerson.value === "Independiente") {
                text.classList.add("see-text-complement")
                div.classList.add("see-more-datas")
                years.required = true
                state.required = true
                live.required = true
                gender.required = true
                study.required = true
                ing.required = true
                time.required = true
            } else {
                text.classList.remove("see-text-complement")
                div.classList.remove("see-more-datas")
                years.required = false
                state.required = false
                live.required = false
                gender.required = false
                study.required = false
                ing.required = false
                time.required = false
            }
        })


        

      </script>