{% extends "base.html" %}

{% block title %}Contraseña cambiada{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="cont">
        <div class="container">
            <div class="successfull">
                <h1 class="heading">Contraseña cambiada.</h1>
                <p class="second-text">Tu contraseña a sido restablecida con exito!. Puedes iniciar seción ahora.</p>
                <a class="login" href="{% url "login" %}">Iniciar Seción</a>
            </div>
        </div>
    </div>
{% endblock %}