{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock styles %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}
    <div class="cont">
        <div class="container">
            <h1 class="heading">Restablecer contraseña</h1>
            <p class="second-text">Le hemos enviado por correo electrónico instrucciones para configurar su nueva contraseña.</p>
            <p class="agreement">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección de registro.</p>
        </div>
    </div>
{% endblock %}