{% extends "base.html" %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="back"></div>
    <div class="logout">
        <h1>Restablecer contraseña</h1>
        {% if validlink %}
            <p>Por favor ingrese su nueva contraseña:</p>
            <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="bt-logout" type="submit" value="Cambio de contraseña" />
            </form>
        {% else %}
            <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya 
            se había utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
        {% endif %}
    </div>
{% endblock %}