{% extends "base.html" %}

{% block title %}Contraseña cambiada{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="back"></div>
    <div class="logout">
        <h1>Contraseña cambiada.</h1>
        <p>Tu contraseña a sido restablecida con exito!. Puedes iniciar seción ahora.</p>
        <a class="bt-logout" href="{% url "login" %}">Iniciar Seción</a>
    </div>
{% endblock %}