{% extends "base.html" %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="cont">
        <div class="container">
            <div class="logout">
                <h1 class="heading">Restablecer contraseña</h1>
                {% if validlink %}
                    <p class="second-text">Por favor ingrese su nueva contraseña:</p>
                    <form class="form" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="login-button" type="submit" value="Cambio de contraseña" />
                    </form>
                {% else %}
                    <p class="second-text">El enlace para restablecer la contraseña no era válido, posiblemente porque ya 
                    se había utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}