.dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esto asegura que el diálogo esté perfectamente centrado independientemente del tamaño de su contenedor */
    z-index: 2;
    width: 90vw;
    height: 96vh;
    border-radius: 20px;
    border: 5px solid #3255a0;
    background-color: #fff;
    box-shadow: rgba(1, 1, 1, 0.5) 100px 100px 100px 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}

.separator {
    width: 90%;
    height: 5px;
    background-color: #3255a0;
    margin: 25px 0px;
}

h4 {
    margin: 10px;
}

.data {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:5px 20px;
    background-color: #f2f2f2;
}

.data div {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #3255a0;
    background-color: #fff;
    border-radius: 25px 0px 20px 0px;
    margin: 10px;
}

.data div p {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px;
}

.data div p:first-of-type {
    background-color: #3255a0;
    border-radius: 20px 0px 20px 0px;
    color: #fff;
}

.data div p:nth-child(2) {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
}

.info-simulation {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 5px;
}

.info-simulation div {
    width: 40%;
    margin: 20px;
    background-color: #fff;
    border-radius: 20px 0px 20px 0px;
    border-bottom: 2px solid #3255a0;
    border-right: 2px solid #3255a0;
    border-left: 2px solid #3255a0;
}

.info-simulation div p:first-of-type {
    background-color: #3255a0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 20px 0px 20px 0px;
}

.info-simulation div p:nth-child(2) {
    margin: 20px;
}

.download {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 1em 2em;
    padding-bottom: 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #3255a0;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #3255a0;
}

.download:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #3255a0;
    box-shadow: 4px 5px 17px -4px #3255a0;
}
  
.download::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #3255a0;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
.download:hover::before {
    width: 150%;
}

@media (max-width: 610px) {
    .info-simulation div {
        width: 90%;
    }
}



.contacto {
    position: fixed; /* Cambia a 'fixed' para que el botón se mantenga en la misma posición al hacer scroll */
    z-index: 2000;
    right: 30px;
    bottom: 30px;
    background-color: red;
    height: 180px;
    width: 180px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.contacto p {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3255a0;
}

.contacto:hover {
    transform: scale(1.1);
}

/* Styles for Success Send Email */

.success {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    display: flex; /* Para centrar contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.back-filter {
    width: 100%;
    height: 100%;
    filter: blur(20px);
    position: absolute;
    background-color: rgba(1, 11, 32, 0.7); /* Color de fondo con opacidad */
    top: 0;
    left: 0;
}

.content-success {
    position: relative; /* Para que esté sobre el filtro */
    color: white; /* Color del texto */
    z-index: 3001; /* Asegúrate de que esté por encima del filtro */
    text-align: center; /* Centrar texto */
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3255a0;
}

.content-success h3 {
    font-size: 30px;
}

.content-success p {
    font-size: 20px;
}
